.about {
  margin-left: 1em;
  margin-right: 1em;
  width: auto;

  &__title {

    margin-top: 5em;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 1.5em;

  }

  &__about_wrapper {
    display: flex;
  }

  &__text {
    margin-top: 1em;

  }

  &__quote {
    font-size: 1.3em;
    font-style: italic;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;



    @media (min-width: $phone-max-width) {
      float: right;
      margin-right: 3%;
      margin-left: 5%;
      width: 50%;
    }

    & p.about__quoteText{
      font-size: 1.3em;

    }
    & p.about__quoteText::first-line {

      //add property to allign the letters instaed of the comma
    }

    & footer {
      margin-top: 2em;
      font-size: 0.7em;
    }

  }
}
