.about {
  padding-right: 1em;
  padding-left: 1em;

  &__title {
    margin-top: 5em;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
  }

  &__about_wrapper {
    display: flex;
  }

  &__text {
    margin-top: 1em;
  }

  &__quote {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.3em;
    font-style: italic;

    @media (min-width: $phone-max-width + 1) {
      float: right;
      width: 50%;
      margin-right: 3%;
      margin-left: 5%;
    }

    .about__quoteText {
      font-size: 1.3em;
    }

    footer { /* stylelint-disable-line */
      margin-top: 2em;
      font-size: 0.7em;
    }
  }
}
