.button {
  width: 6em;
  padding: 0.3125em;
  border: 1px solid #666;
  border-radius: 0.25em;
  color: #eee;
  background-color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size:1.96em;

  &:hover{
    background-color:#333;
    transition: background-color 500ms ease;
  }
  &__extra_for_nav{
    width:4em;
	font-size:1em;
  }
  &__um{
    background-color: #333;
	border: 1px solid #333;
  }
}