.button{
	width:6.250em;
	cursor:pointer;
	padding:0.625em 0.3125em 0.625em 0.3125em;
	Color:white;
	border:1px solid rbg(102,102,102);
	background-color:rbg(102,102,102);
	text-decoration:none;
}
/*


border-radius: 0.25em;
color:#eee;

white-space: nowrap; 
text-overflow: ellipsis;
overflow: hidden;
font-family: Lato, helvetica,arial,sans-serif;
font-size:1em;


text-align:center;
	
*/