@media (min-width: $tablet-max-width) {
  .page__grid {
     background-color:blue;
	width: 100%;
	margin-bottom:50px;
	}
	
   .page__grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em; 
	}
	.page__grid__row__col-12 {
      width: 100%; 
	}
	.page__grid__row__col-8 {
      width: 66.2%; 
	}
	.page__grid__row__col-4 {
      width: 32.3%;	 
	}
}


.test{
background-color:black;
overflow:hidden;
}
.test2{
margin-left:1.250em;
background-color:green;
overflow:hidden;
}
.test3{
margin-left:1em;
}