.headder {
  width:100%;
  margin-bottom:margin_for_one_hundred;
  
  &__content{
    width:100%;
	height:500px;
	background: transparent url(../img/bg-subpage.jpg) no-repeat;
	background-size:cover;
	
	&__title{
		color:$font-color-nav;
	    font-size:$h3_font_size;
		padding-top:7em;
		padding-left:1em;
	}
  }
 
}