.navigation {
  width: 100%;
  margin-bottom:-50px;
  //Transparent background START
  background-color: #333;//gera transparrent
  border: 1px solid #333;
  opacity:0.9;
  //Transparent background END
  
  //til að gera stykki Navigation START
  position: sticky;
  top: 0; 
  //til að gera stykki Navigation END
 
  color: $font-color-nav;
  display: flex;
  justify-content: space-between;
  
  &__title {
	padding:5px;
	font-size:$h1_font_size;
  }
 
  &__buttons {
    margin-right:0.250em;
    padding:6px; 
  }
}