.navigation {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  margin-bottom: -3.125em;
  color: $font-color-nav;
  background-color: #333;
  border: 1px solid #333;
  opacity: 0.9;
  justify-content: space-between;

  &__title {
    padding: 10px;
    font-family: "Roboto Slab", serif;
    font-size: $h1_font_size;
  }

  &__buttons {
    padding: 9px;
    margin-right: 0.25em;
  }

}
