//Grunnstærðir fyir öll tækin sem mun vera stuðið
$desktop-max-width: 1200px;
$tablet-max-width: 600px;
$phone-max-width: 400px;
//Grunnstærð fyrir texta stærð
$base-font-size:16px;
//fylgja allar aðrar leturgerðir eftirfarandi skala: 12 14 16 18 21 24 36 48 60 72
//Open Sans er letur meginmál, Roboto Slab er notað fyrir fyrirsagnir
//bæta margins sem má nota 