$desktop-max-width: 1200px;
$tablet-max-width: 600px;
$phone-max-width: 400px;
$base-font-size: 16px;
$font-color-nav:#fff;
$h1_font_size: 1.5em;
$h3_font_size: 2.25em;
$h4_font_size: 3.125em;
$margin_for_one_hundred: 9.375em;
$margin_for_eighty: 5em;
