@charset "UTF-8";
/* Þetta skjal bara i raun inniheldur allar grunnstillingar á öllum siðum */
/* Tryggjum að öll tög eru með Border-box  og fjarlægjum margin og padding */
*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

/* setjum border-box á allt ásamt grunn letur stærð og linubil */
html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

/* tryggjum að i havaða skjáar stærð sem er öll gögin okkar eru alltaf eru á grindi annars ekki byrt */
@media (min-width: 1200px) {
  body {
    /* stylelint-disable-line */
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif; } }

@media (max-width: 400px) {
  .hidden {
    display: none; } }

/* Allar myndir munu alltaf filla út foreldran sinn þannig wrapper um myndina ákveður stærð mynds */
img {
  /* stylelint-disable-line */
  width: 100%; }

.main_content {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 5em; }

.margnifier {
  width: 102% !important;
  margin-left: -0.625em; }

.button {
  width: 6em;
  padding: 0.3125em;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 1.96em;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 0.25em; }
  .button:hover {
    background-color: #333;
    transition: background-color 500ms ease; }
  .button__extra_for_nav {
    width: 4em;
    font-size: 1em; }
  .button__um {
    background-color: #333;
    border: 1px solid #333; }

.panta_extra_button {
  width: 20%;
  font-size: 1em; }

.center_button_for_conent {
  display: flex;
  width: 100%;
  justify-content: center; }

.headder {
  width: 100%; }
  .headder__content {
    width: 100%;
    height: 31.25em;
    background: transparent url("img/bg-subpage.jpg") no-repeat;
    background-size: cover; }
    .headder__content__title {
      padding-top: 7em;
      padding-left: 0.3em;
      font-size: 2.25em;
      color: #fff; }
  .headder__extra_index {
    display: flex;
    width: 100%;
    height: 100vh;
    background: transparent url("img/bg.jpg") no-repeat;
    background-size: cover; }
    .headder__extra_index__content {
      margin: auto; }
      .headder__extra_index__content__display_1 {
        font-size: 1.5em;
        text-align: center; }
      .headder__extra_index__content__display_2 {
        margin-bottom: 1em;
        font-family: "Roboto Slab", serif;
        font-size: 3.125em; }
      .headder__extra_index__content__display_3 {
        width: 4em;
        margin-left: 3em; }

.navigation {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  margin-bottom: -3.125em;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  opacity: 0.9;
  justify-content: space-between; }
  .navigation__title {
    padding: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 1.5em; }
  .navigation__buttons {
    padding: 9px;
    margin-right: 0.25em; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animation {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  /* stylelint-disable-line */
  -moz-animation: fadeIn ease-in 1;
  /* stylelint-disable-line */
  animation: fadeIn ease-in 1;
  /* stylelint-disable-line */
  -webkit-animation-fill-mode: forwards;
  /* stylelint-disable-line */
  -moz-animation-fill-mode: forwards;
  /* stylelint-disable-line */
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  /* stylelint-disable-line */
  -moz-animation-duration: 1s;
  /* stylelint-disable-line */
  animation-duration: 1s; }
  .animation__one {
    -webkit-animation-delay: 0.7s;
    /* stylelint-disable-line */
    -moz-animation-delay: 0.7s;
    /* stylelint-disable-line */
    animation-delay: 0.7s; }
  .animation__two {
    -webkit-animation-delay: 1.5s;
    /* stylelint-disable-line */
    -moz-animation-delay: 1.5s;
    /* stylelint-disable-line */
    animation-delay: 1.5s; }
  .animation__three {
    -webkit-animation-delay: 2.3s;
    /* stylelint-disable-line */
    -moz-animation-delay: 2.3s;
    /* stylelint-disable-line */
    animation-delay: 2.3s; }

.footer {
  width: 100%;
  color: #fff;
  background-color: #333; }
  .footer__info {
    display: flex;
    padding-top: 1em;
    padding-bottom: 2.5em;
    border-bottom: 2px solid #999;
    justify-content: space-evenly; }
  .footer__copywrite {
    padding-top: 2em;
    padding-bottom: 1em; }
    .footer__copywrite__content {
      color: #7a8186;
      text-align: center; }

.about {
  padding-right: 1em;
  padding-left: 1em; }
  .about__title {
    margin-top: 5em;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.5em;
    font-weight: 700; }
  .about__about_wrapper {
    display: flex; }
  .about__text {
    margin-top: 1em; }
  .about__quote {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.3em;
    font-style: italic; }
    @media (min-width: 400px) {
      .about__quote {
        float: right;
        width: 50%;
        margin-right: 3%;
        margin-left: 5%; } }
    .about__quote .about__quoteText {
      font-size: 1.3em; }
    .about__quote footer {
      /* stylelint-disable-line */
      margin-top: 2em;
      font-size: 0.7em; }

.FrontPage {
  margin-bottom: 5em; }
  .FrontPage__checkBox {
    display: flex; }
  .FrontPage__checkIcon {
    width: 1.8em; }
  .FrontPage__checkBoxBigText {
    margin-top: 0;
    display: flex; }
  .FrontPage__checkField {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex; }
    @media (max-width: 600px) {
      .FrontPage__checkField {
        flex-direction: column; } }
  .FrontPage__checkImageBox {
    width: 50%; }
    @media (max-width: 600px) {
      .FrontPage__checkImageBox {
        align-content: center;
        width: 95%;
        margin: 0 auto; } }
  .FrontPage__checkFieldText {
    padding-left: 1em;
    padding-right: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media (max-width: 600px) {
      .FrontPage__checkFieldText {
        width: 95%;
        margin: 0 auto;
        justify-content: space-around;
        height: 20em;
        margin-bottom: 2em; } }
  .FrontPage__usersBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .FrontPage__userProfile {
    width: 32.2%;
    margin-bottom: 2em; }
    @media (max-width: 600px) {
      .FrontPage__userProfile {
        width: 50%; } }
    @media (max-width: 400px) {
      .FrontPage__userProfile {
        width: 100%; } }
  .FrontPage__userProfile:nth-child(3) {
    margin: 0em; }
  .FrontPage__userImage img {
    width: 80%;
    border-radius: 50%;
    display: block;
    margin: auto; }
  .FrontPage__userInfo {
    height: 7em;
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media (min-width: 600px) {
      .FrontPage__userInfo {
        justify-content: space-between; } }
  .FrontPage__userQuote {
    font-style: italic; }

.form_content {
  width: 100%; }
  .form_content__person {
    width: 32.4%; }
  .form_content .person_extra_right {
    margin-left: -0.313em; }
  .form_content .person_extra_left {
    padding-left: 0.5em; }
  .form_content .resizeinput {
    width: 100%;
    font-size: 1em; }
  .form_content .offset {
    margin-left: 0.625em; }
  .form_content input {
    /* stylelint-disable-line */
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: 1.5em;
    border-radius: 0.25em; }
  .form_content select {
    /* stylelint-disable-line */
    width: 20%;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em; }
  .form_content legend {
    /* stylelint-disable-line */
    margin-bottom: 1em;
    font-size: 1.5em; }
  .form_content fieldset {
    /* stylelint-disable-line */
    margin-bottom: 1em;
    border: 0 none; }

@media (min-width: 400px) {
  .form_content {
    display: flex;
    justify-content: space-around; } }

@media (max-width: 400px) {
  .form_content {
    margin-left: 1.25em; }
    .form_content .person_extra_left {
      margin-left: -0.625em; }
  .panta_extra_button {
    width: 60%; }
  .form_content__person {
    width: 90%; } }
